@font-face {
    font-family: Shabnam;
    src: url(Shabnam.ttf);
}
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /*margin-bottom: 60px;*/
}

* {
    box-sizing: border-box;
    font-family: Shabnam;
    scrollbar-color: #78b8ca #dceff2;
    scrollbar-width: thin;
}

#tabsDiv {
    height: 600px;
    border: 2px solid #cfcfcf;
    border-radius: 20px;
    direction: rtl;
    position: relative;
}   

    #tabsDiv ul {
        height: 300px;
        padding: 0px 8px;
    }

    #tabsDiv li {
        width: 18%;
        height: 60px;
        margin: 4px 0 4px 0;
    }

    #tabsDiv button {
        float: left;
        border: 1px solid #cfcfcf;
        background-color: #f1f0f4;
    }

    /* Button to open the content */
    #tabsDiv button {
        display: block;
        background-color: inherit;
        color: black;
        padding: 20px 15px;
        width: 100%;
        text-align: center;
        cursor: pointer;
        border-radius: 20px;
        margin: 4px 0 4px 0;
    }

        /* Button styling on mouse hover */
        #tabsDiv button:hover {
            background-color: #bfe9f1;
            /*color: lime;*/
        }

        #tabsDiv button.active {
            background-color: #bfe9f1;
        }

/* Content for tabs*/
.contentClass {
    display: none;
    position: absolute;
    left: 0%;
    padding: 10px 10px;
    margin: 5px 10px;
    width: 80%;
    border-style: none;
    height: 98%;
    overflow-y: auto;
    scrollbar-color: #78b8ca #dceff2;
    scrollbar-width: thin;
}

table, th, td {
    border: 1px solid #e4e4e4;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.flex-container {
    display: flex;
}

table {
    width: 100%;
}

#submit_btn {
    width: 150px;
    height: 40px;
    padding: 2px 4px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto 0 auto;
    box-shadow: 0 5px 15px #0000007b;
    transition: 0.3s all ease-in-out;
    border: 2px solid #198754;
    color: #fff;
    background: #198754;
}

    #submit_btn:hover {
        box-shadow: 0 8px 20px #0000007b;
        background: #fff;
        color: #198754;
    }

.thankyou strong {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
}

h6 {
    background-color: #f1f1f1;
    border-radius: 20px;
    padding: 8px;
}

th {
    padding: 5px;
    color: dimgrey;
    text-align: center;
}

.textarea {
    width: 600px;
    height: 70px;
    border: 1px solid #e6d0d0;
    border-radius: 20px;
    padding: 5px;
}

.inputforunit {
    width: 200px;
    height: 40px;
    border: 1px solid #e6d0d0;
    border-radius: 20px;
    padding: 5px;
}

input {
    margin: 4px;
}

.error {
    display: block;
    color: red;
}