@using SurveyForm.Models
@model dynamic
@{
    ViewData["Title"] = "ورود رمز یک بار مصرف";
}
@section Styles {
    <style>
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }

        .input {
            width: 40px;
            border: none;
            border-bottom: 3px solid rgba(0, 0, 0, 0.5);
            margin: 0 10px;
            text-align: center;
            font-size: 36px;
            cursor: not-allowed;
            pointer-events: none;
        }

            .input:focus {
                border-bottom: 3px solid orange;
                outline: none;
            }

            .input:nth-child(1) {
                cursor: pointer;
                pointer-events: all;
            }
    </style>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
        <style>
            /* Importing Google Fonts - Poppins */

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            /* font-family: "Poppins", sans-serif; */
        }

        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            padding: 15px;
            background: #d7e2eb;
            overflow: hidden;
        }

        .wrapper {
            max-width: 500px;
            width: 100%;
            background: #fff;
            border-radius: 5px;
            box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.1);
        }

            .wrapper .title {
                height: 120px;
                background: #549ac3;
                border-radius: 5px 5px 0 0;
                color: #fff;
                font-size: 30px;
                font-weight: 600;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .wrapper form {
                padding: 25px 35px;
            }

                .wrapper form .row {
                    height: 60px;
                    margin-top: 15px;
                    position: relative;
                }

                    .wrapper form .row input {
                        height: 100%;
                        width: 100%;
                        outline: none;
                        padding-left: 70px;
                        border-radius: 5px;
                        border: 1px solid lightgrey;
                        font-size: 18px;
                        transition: all 0.3s ease;
                    }

        form .row input:focus {
            border-color: #549ac3;
        }

        form .row input::placeholder {
            color: #999;
        }

        .wrapper form .row i {
            position: absolute;
            width: 55px;
            height: 100%;
            color: #fff;
            font-size: 22px;
            background: #16a085;
            border: 1px solid #16a085;
            border-radius: 5px 0 0 5px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .wrapper form .pass {
            margin-top: 12px;
        }

            .wrapper form .pass a {
                color: #16a085;
                font-size: 17px;
                text-decoration: none;
            }

                .wrapper form .pass a:hover {
                    text-decoration: underline;
                }

        .wrapper form .button input {
            margin-top: 20px;
            color: #fff;
            font-size: 20px;
            font-weight: 500;
            padding-left: 0px;
            background: #549ac3;
            border: 1px solid #16a085;
            cursor: pointer;
        }

        form .button input:hover {
            background: #549ac3;
        }

        .wrapper form .signup-link {
            text-align: center;
            margin-top: 45px;
            font-size: 17px;
        }

            .wrapper form .signup-link a {
                color: #16a085;
                text-decoration: none;
            }

        form .signup-link a:hover {
            text-decoration: underline;
        }
        </style>
}
<body dir="rtl">
        <div class="container">
        <div class="wrapper">
            <div class="title"><span>ورود به نظر سنجی ( JDI )</span></div>
            <form action="#">
                <div class="row">
                    @* <i class="fas fa-user"></i> *@
                    <input type="text" placeholder="شماره پرسنلی" required id="personnelNumber" />
                </div>
                @* <div class="row button">
                    <input type="submit" value="ورود" />
                </div> *@
            </form>
            <div id="error-message" style="color: red;"></div>
            <form method="post" asp-action="SendOtp" asp-controller="OtpVerification" id="send_otp">
                <input type="text" name="personnelNumber" id="personnel_input" style="display:none">
                <div class="row button">
                    <input type="submit" value="ارسال کد" disabled id="send_otp_btn" onclick="TimerOn()" />
                </div>
                <br />
                <div>
                    @TempData["otp"]
                    @{
                        TempData.Keep("otp");
                    }
                </div>
            </form>
        <form method="post" asp-action="SubmitOtp" asp-controller="OtpVerification" id="submit_otp">
                <input type="number" name="finalDigit" id="otp_input" style="display:none">
            <div id="inputs" class="inputs" dir="ltr">
                <input class="input" type="text"
                       inputmode="numeric" maxlength="1" />
                <input class="input" type="text"
                       inputmode="numeric" maxlength="1" />
                <input class="input" type="text"
                       inputmode="numeric" maxlength="1" />
                <input class="input" type="text"
                       inputmode="numeric" maxlength="1" />
                <input class="input" type="text"
                       inputmode="numeric" maxlength="1" />
            </div>
                <div class="row button">
                <input type="submit" value="ورود" />
                </div>
        </form>
        </div>
        </div>
</body>

@section Scripts {
    <script>
        const inputs = document.getElementById("inputs");
        inputs.addEventListener("input", function (e) {
            const target = e.target;
            const val = target.value;

            if (isNaN(val)) {
                target.value = "";
                return;
            }

            if (val != "") {
                const next = target.nextElementSibling;
                if (next) {
                    next.focus();
                }
            }
        });
        inputs.addEventListener("keyup", function (e) {
            const target = e.target;
            const key = e.key.toLowerCase();

            updateJoinedValue();
            if (key == "backspace" || key == "delete") {
                target.value = "";
                const prev = target.previousElementSibling;
                if (prev) {
                    prev.focus();
                }
                return;
            }
        });
        function updateJoinedValue() {
            const inputFields = inputs.querySelectorAll("input");
            const values = Array.from(inputFields).map(input => input.value).join('');
            return parseInt(values)
        }
        $("#submit_otp").on("submit", function (event) {
            event.preventDefault();
            document.getElementById("otp_input").value = updateJoinedValue()
            console.log(document.getElementById("otp_input").value)
            document.getElementById("submit_otp").submit();
        });
        $("#send_otp").on("submit", function (event) {
            event.preventDefault();
            document.getElementById("personnel_input").value = document.getElementById("personnelNumber").value
            console.log(document.getElementById("personnel_input").value)
            document.getElementById("send_otp").submit();
        });
    </script>
    <script>
                document.addEventListener('DOMContentLoaded', function() {
            const personnelInput = document.getElementById('personnelNumber');
            const submitButton = document.getElementById('send_otp_btn');
            const errorMessage = document.getElementById('error-message');
            function checkInput() {
                const inputLength = personnelInput.value.length;
                if (inputLength === 6) {
                    submitButton.disabled = false;
                    errorMessage.textContent = '';
                } else {
                    submitButton.disabled = true;
                }
            }
            personnelInput.addEventListener('input', checkInput);
        });

    </script>
    <script>
        function TimerOn() {
                let timerOn = true;

        function timer(remaining) {
          var m = Math.floor(remaining / 60);
          var s = remaining % 60;

          m = m < 10 ? '0' + m : m;
          s = s < 10 ? '0' + s : s;
          document.getElementById('send_otp_btn').value = m + ':' + s;
          remaining -= 1;

          if(remaining >= 0 && timerOn) {
            setTimeout(function() {
                timer(remaining);
            }, 1000);
            return;
          }

          if(!timerOn) {
            // Do validate stuff here
            return;
          }

          // Do timeout stuff here
          alert('Timeout for otp');
        }

        timer(120);
        }
        TimerOn()
    </script>
}